<div id="<%= "#{dom_id(@comment)}_comment"%>" >
  <p class="text-gray-700 text-base"><%= @comment.content %></p>
  <p class='text-sm text-gray-600'><strong class='text-black'>Posted: </strong><%= time_tag @comment.created_at, 'data-local':'time-ago'%></p>
  <% if (@comment.user_id === @user.id || @post.group.user_id === @user.id) %>
    <div class='mt-2'>
      <%= link_to 'EDIT', '#' , class: 'inline-block cursor-pointer text-blue-600 hover:text-blue-500 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2' %>
      <%= link_to 'DELETE', post_comment_path(@comment.post_id, @comment.id), data: { "turbo-method": :delete }, class: 'inline-block cursor-pointer text-red-600 rounded-full px-3 py-1 text-sm font-semibold mr-2 mb-2' %>
    </div>
  <% end %>
</div>
