
<div data-controller='home' class='mt-3 grid grid-cols-4'>
  <div class='col-span-3'>
    <div class='flex justify-between'>
      <h2 class='text-2xl font-bold underline'>Group Details</h2>
      <button data-action='click->home#showModal' class="float-right text-white font-bold py-2 px-4 rounded">
        <i class="fa-solid fa-gear text-2xl text-green-500"></i>
      </button>
    </div>
    <%= render partial: 'UI/modal', locals: {group: @group} %>
  </div>
  <div></div>

</div>
<p class='mt-2'><strong>Group Name: </strong><%= @group.name %></p>
<p class='mt-2'><strong>Total Members: </strong><%= @group.users.count%></p>

<div class='grid grid-cols-4 mb-2 gap-4'>
  <div class='col-span-3' ><%= render 'groups/new_post' %></div>
  <div>
    <strong>Members</strong>
    <div class='grid grid-cols-12'>
      <% @group_members.each do |member| %>
        <div class='inline-block col-span-11'><%= member.email %> </div>

        <%= button_to 'x', leave_group_path(@group, user_id: member),class:'text-red-800 w-5 h-5 flex justify-center items-center' if !@group.user_id.eql?(member.id)%>
      <% end %>
    </div>
  </div>
</div>
<hr>

<div>
  <%= render(PostComponent.with_collection(@group_posts, current_user: current_user, group: @group)) %>
</div>
