
<div data-controller='home'>
  <%= render partial: 'UI/modal', locals: {group: Group.new} %>

  <button data-action='click->home#showModal' class="float-right bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
    Create New Group
  </button>

  <div class='mt-5' data-home-target='buttons'>
    <button data-action='home#joinedGroups' class='cursor-pointer m-3 bg-yellow-400 hover:bg-yellow-300 inline-block p-2 rounded-md px-3 '>My Groups</button>
    <button data-action='home#allGroups' class='cursor-pointer m-3 bg-yellow-400 hover:bg-yellow-300 inline-block p-2 rounded-md px-3'>All Groups</button>
    <button data-action='home#myGroups' class='cursor-pointer m-3 bg-yellow-400 hover:bg-yellow-300 inline-block p-2 rounded-md px-3'>Created by Me</button>
  </div>
  <div data-home-target='allGroups' class='hidden'>
    <%= render(GroupComponent.with_collection(@all_groups, user: current_user)) %>
  </div>
  <hr>

  <div data-home-target='joinedGroups' class="overflow-x-auto relative">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="py-3 px-6">Group name</th>
            <th scope="col" class="py-3 px-6">Total Posts</th>
            <th scope="col" class="py-3 px-6">Total Members</th>
            <th colspan='2' class="py-3 px-6 text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @my_groups.each do |group| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap dark:text-white"><%= group.name %></th>
              <td class="py-4 px-6"><%= group.posts.count%></td>
              <td class="py-4 px-6"><%= group.users.count%></td>
              <td class="py-4 px-6"><%= link_to 'Group details', group_path(group.id), class: 'focus:outline-none text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm p-2' %></td>
              <td class="py-4 px-6"><%= button_to 'Exit Group', exit_group_path(group.id), data: {confirm: 'Are you Sure!'}, class: 'focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm p-2' %></td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>

  <hr>
  <div data-home-target='myGroups' class='hidden'>
    <%= render(GroupComponent.with_collection(@created_by_me, user: current_user)) %>
  </div>


</div>
