<div data-posts-target='editForm' class='hidden'>
  <div class='shadow-md p-10'>
    <div>
      <%= form_with(model: post, :url => post_path(post.id), local: true) do |f| %>
        <div class="mt-2">
          <%= f.label :title %>
          <%= f.text_field :title, data: {target: 'posts.newTitle'}, placeholder: 'Title of the Post', class: 'mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1'%>
        </div>

        <div class="mt-2">
          <%= f.label :content %>
          <%= f.text_field :content, data: {target: 'posts.newContent'} , placeholder: 'Content of the Post', class: 'mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1'%>
        </div>

        <div class="actions mt-5">
          <%= f.submit "Save", class: "float-right inline-block cursor-pointer bg-blue-600 hover:bg-blue-500 rounded-full px-3 py-1 text-sm font-semibold text-white mr-2 mb-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
