<div>
  <div class='my-5'>
    <p class='text-sm text-gray-600'><strong class='text-black'>Created By: </strong><%= @post.user.email %></p>
    <p class='text-sm text-gray-600'><strong class='text-black'>Posted: </strong><%= time_tag @post.created_at, 'data-local':'time-ago'%></p>
  </div>
  <p class='text-2xl font-bold mb-2'><%= @post.title %></p>
  <p class='text-lg text-gray-800'><%= @post.content %></p>

  <div class='mt-10'>
    <h3 class='text-xl font-medium' >Comments</h3>
    <div class="max-w-lg shadow-md">

      <div class='w-full p-4'>
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>

  <div id="comments" class='mt-5'>
    <%= render(CommentComponent.with_collection(@post_comment, post: @post, user: current_user)) %>
  </div>
</div>
