<div>
  <div class='my-5'>
    <p class='text-sm text-gray-600'><strong class='text-black'>Created By: </strong><%= @post.user.email %></p>
    <p class='text-sm text-gray-600'><strong class='text-black'>Posted: </strong><%= time_tag @post.created_at, 'data-local':'time-ago'%></p>
  </div>
  <p class='text-2xl font-bold mb-2'><%= @post.title %></p>
  <p class='text-lg text-gray-800'><%= @post.content %></p>

  <div class='mt-10'>
    <h3 class='text-xl font-medium' >Comments</h3>
    <div class="max-w-lg shadow-md">

      <div class='w-full p-4'>
        <%= form_with(model: [@post, @post.comments.build]) do |f| %>
          <div class="mt-2">
            <%= f.label 'Add a Comment' %>
            <%= f.text_field :content, autofocus: true, placeholder: 'Add a Comment', class: 'mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1'%>
          </div>

          <div class="actions mt-5">
            <%= f.submit "Comment", class: "bg-blue-600 inline-block text-white text-xl rounded p-1 px-2 cursor-pointer" %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <div class='mt-5'>
    <%= render(CommentComponent.with_collection(@post_comment, post: @post)) %>
  </div>
</div>
